style{
    background-image: url(../img/dog.jpg.jpg);
    background-image: url(../img/cat.jpg.jfif);
    background-image: url(../img/turtle.jpg.jfif);
}

h1{
    color: red;
    background-color: yellow;
}